.recipes-container {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.details-image {
  height: 400px;
  object-fit: cover;
}

@media only screen and (max-width: 1023px) {
  .recipes-container {
    grid-template-columns: 33% 33% 33%;
  }
}

@media only screen and (max-width: 767px) {
  .recipes-container {
    grid-template-columns: 49% 49%;
  }
}

@media only screen and (max-width: 500px) {
  .recipes-container {
    grid-template-columns: 100%;
  }
}
