.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  .main-container {
    padding-top: var(--bs-gutter-x, 0.75rem);
    padding-bottom: var(--bs-gutter-x, 0.75rem);
  }
}

.pointer {
  cursor: pointer;
}
